* {
    margin: 0;
    padding: 0;
}



body {
    font-family: Arial, sans-serif;
   
}

#cabecalho {
    background-color: #3E1191;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.a {
    padding: 10px;
    color: aliceblue;
    text-decoration: dashed;
    font-weight: 400;
    font-size: larger;
    margin: 0 10px;
}

.corpo {
    font-size: medium;
    padding: 2% 0 0 4%;
    width: 50%;
}

section {
    background-color: #F8F3FE;
    height: 15em;
}

.corpo h2 {
    margin-bottom: 20px;
}

.form {
    background-color: #F8F3FE;
    margin: 20px 4% ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form div {
    flex: 0 0 48%;
    margin: 10px;
}

.form label {
    display: block;
    margin-bottom: 5px;
}

.form span {
    margin-right: 5px;
}

.form input {
    padding: 10px;
    width: calc(100% - 10px);
    margin-bottom: 10px;
    box-sizing: border-box;
}

.corpomeio {
    height: 400px;
    margin-top: 20px;
    margin-bottom: 50px;
    background-color: #F8F3FE;
}

.rodape {
    margin-bottom: 0;
    height: 80px;
    background-color: #3E1191;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rodape a {
    text-decoration: none;
    color: #F8F3FE;
    margin: 0 10px;
}

